extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner Stylish
    div.Message
      div.Title
        h3 Making the Best
        h1 Food For Devs
      span.Details Access the Stylush Team Portal
    div.Message
        div.Title
            h3 Sites Placetopay 
            iframe(src="https://sites.placetopay.com/", frameborder="0") 
    div.NavButtons
      a(href="/user")
          div.NavButton Just dive in!
    div.container Hey